body{
    color:aqua;
    background-color:black;
    margin:0xp;
    font-family: "chakra petch", sans-serif;
}
    header{
        border:solid 2xp yellow;
        padding: 20px;
        font-size: 32px;
        color: yellow;
}


section{
    background-color: chartreuse;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chama-texto{
margin-right: 30px;
}